body {
    background-color: rgb(152, 153, 156);
}

body#body1 {
    background-image: url('../../imgs/image.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    height: 100.6vh;
    width: 100vw;
    margin: -20px -8px 0;
    background-size: cover;
}