.dashboard h2 {
    font-size: 15px;
    margin-bottom: 10px;
}

.count-container {
    text-align: center;
    display: left;
    background-color: #f4eeee;
    border: 2px solid #108f50;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 80px;
    align-items: center;
    margin-right: 20px;
    height: 110px;
    width: 200px;
}

.count {
    font-size: 50px;
    font-weight: bold;
    color: #0c0c0c;
}

.dashboard {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}