.card1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px rgb(34, 66, 43) solid;
    align-content: center;
    margin: 0 auto;
}

.card-header1 {
    height: 30%;
    background: #108f50;
    color: white;
    text-align: center;
}

.card-header p {
    font-size: 20px;
}

.containerView {
    padding: 20px 16px;
    text-align: center;
    direction: flex-start;
}